@model CartViewModel

<div class="row checkoutForm">
    @if (Model.Cart.CartItems.Count > 0)
    {
        <h2>Ваша корзина</h2>
    }
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">

                @foreach (var line in Model.Cart.CartItems)
                {
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">

                        <div class="mr-1"><img class="rounded" src="@line.Device.SmallImageUrl" width="100"></div>
                        <div class="d-flex flex-column align-items-center product-details">
                            <span class="font-weight-bold">@line.Device.Name</span>
                        </div>
                        <div class="d-flex flex-row align-items-center qty">
                            <i class="fa fa-minus text-danger"></i>
                            <h5 class="text-grey mt-1 mr-1 ml-1">@line.Number</h5>
                            <i class="fa fa-plus text-success"></i>
                        </div>
                        <div>
                            <h5 class="text-grey">@((line.Number * line.Device.Price).ToString("c"))</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="button ">
                                <a class="btn btn-success" id="cartButton" asp-controller="Cart"
                                   asp-action="RemoveFromCart" asp-route-deviceId="@line.DeviceId">
                                    <i class="fa fa-trash mb-1 text-danger"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.Cart.CartItems.Count > 0)
    {
        <div class="container mt-5 mb-5">
            <div class="btn-group">
                <a class="btn btn-success btn-lg btn-block" asp-controller="Order" asp-action="Checkout">Оформить заказ</a>
                <div class="btn-group">
                    <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Заказать ещё девайсы<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-controller="Device" asp-action="List" asp-route-kind="Smartphones">Smartphones</a></li>
                        <li><a asp-controller="Device" asp-action="List" asp-route-kind="Laptops">Laptops</a></li>
                        <li><a asp-controller="Device" asp-action="List" asp-route-kind="TVs">TVs</a></li>
                    </ul>
                </div>

            </div>
        </div>
    }
    else
    {
        <h6>Ваша корзина пустая. </h6>
    }

</div>




