@model Device
@{
    ViewData["Title"] = "Details";
}

<section class="mb-5">

    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <div class="row product-gallery mx-1">

                    <div class="col-12 mb-0">
                        <figure class="view overlay rounded z-depth-1 main-img">
                            <a href="@Model.ImageUrl"
                               data-size="710x823">
                                <img src="@Model.ImageUrl"
                                     class="img-fluid z-depth-1">
                            </a>
                        </figure>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-6">

            <h5>@Model.Name</h5>
            <p class="mb-2 text-muted text-uppercase small">@Model.Kind.Name</p>
            <p><span class="mr-1"><strong>@Model.Price₴</strong></span></p>
            <p class="pt-1">
                @Model.LongDescription
            </p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Цена</strong></th>
                            <td>@Model.Price</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>На складе</strong></th>
                            <td>@Model.Stock</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>




